<div class="this_path">
    <div class="path">
        <div>
          <a title="{{path_manager}}" style="float:left;">
              <i class="fa fa-sitemap"></i> {{path_manager}}
          </a> <span style="float:left;">&nbsp;&gt;&nbsp;</span>
          <a title="{{path_site}}" style="float:left;">
              <i class="fa fa-folder"></i> {{path_site}}
          </a> <span style="float:left;">&nbsp;&gt;&nbsp;</span>
          <a title="{{path_location}}" style="float:left;">
            <i class="fa fa-folder"></i> {{path_location}}
          </a> <span style="float:left;">&nbsp;&gt;&nbsp;</span>
          <a title="{{path_shop}}" style="float:left;width:200px;display:inline-block;">
              <i class="fa fa-folder"></i> {{path_shop}}
          </a>
        </div>
    </div>
</div>

<p class="clearfix visible-xs-block"></p>
