<div class="live_wrap" >
    <!-- Tree -->
    <!--<div ng-include="report_nav_uri" class="admin_menu"></div>-->
    <!-- //Tree -->
    <!-- Live Content -->
    <div style="float:left;width:40%;height:400px;">
        <nvd3 options="options1" data="sensor_graph1"></nvd3>
        <nvd3 options="options2" data="sensor_graph2"></nvd3>
    </div>
    <div style="float:left;width:40%;height:400px;">
        <nvd3 options="options3" data="sensor_graph3"></nvd3>
        <nvd3 options="options4" data="sensor_graph4"></nvd3>
    </div>
    <div style="float:left;width:40%;height:400px;">
        <nvd3 options="options5" data="sensor_graph5"></nvd3>
        <nvd3 options="options6" data="sensor_graph6"></nvd3>
    </div>
    <div style="float:left;width:40%;height:400px;">
        <nvd3 options="options7" data="sensor_graph7"></nvd3>
        <nvd3 options="options8" data="sensor_graph8"></nvd3>
    </div>
</div>
